.dub
docs.json
__dummy.html
docs/
dlang-examples.so
dlang-examples.dylib
dlang-examples.dll
dlang-examples.a
dlang-examples.lib
dlang-examples-test-*
*.exe
*.o
*.obj
*.lst
dlang-examples
dub.selections.json
